﻿



<div class="col-sm-6 col-sm-offset-3">
	<h3>Componente Empty</h3>
	<br/>
	<div class="panel panel-default">
		<div class="panel-heading">Exemplo</div>
		<div class="panel-body">
			<dl>
				<dt>Coffee</dt>
				<dd ngf-empty>Black hot drink</dd>
				
				<dt>Teste Empty</dt>
				<dd ngf-empty></dd>
				
				<dt>Milk</dt>
				<dd>White cold drink</dd>
			</dl>
		</div>
	</div>
</div>


<div class="col-sm-6 col-sm-offset-3">
	<h3>Componente Empty Lista</h3>
	<br/>
	
	<div class="panel panel-default">
		<div class="panel-heading">Exemplo</div>
		<div class="panel-body">
			<button class="btn btn-primary" ng-click="vm.showList=!vm.showList" class="pull-rigth">
				Mostrar/Esconder
			</button>
			<ul ngf-empty icon-empty="true">
			  	<li ng-if="vm.showList">Coffee</li>
			 	<li ng-if="vm.showList">Tea</li>
			  	<li ng-if="vm.showList">Milk</li>
			  	<li ng-if="vm.showList">Teste</li>
			</ul>
		</div>
	</div>
</div>


<div class="col-sm-6 col-sm-offset-3">
	<h3>Componente Empty Font Awesome</h3>
	<br/>
	<div class="panel panel-default">
		<div class="panel-heading">Exemplo</div>
		<div class="panel-body">
			<dl class="fa-ul">
				
				<dt>Teste Empty</dt>
				<dd ngf-empty></dd>
				
				<dt>Milk</dt>
				<dd>White cold drink</dd>
			</dl>
		</div>
	</div>
</div>